body {
	background: url("bodyback.png") 100% 100%;
}
table {
	/*border: 1px solid black;*/
	width: 100%;
	height: 100%;
	border-color: black;
}
td {
	/*
	opacity: 0.85;
	background-color: black;
	*/
	background: url('empty80.png') repeat;
}
div#map {
	position: relative;
	width: 753px;
	height: 618px;
	margin: auto;
	background: url("back1.jpg") 100% 100% no-repeat;
	background-size: cover;
}
#title {
	color: white;
	text-align: center;
}
#mess {
	color: white;
	margin-left: 280px;
}
.miss {
	background: url("miss.png") no-repeat center center;
	background-size: cover;
}
.clear {
	/*
	opacity: 0;
	*/
	background: url("love.png") no-repeat center center;
	background-size: cover;
}
.around {
	/*
	opacity: 0.5;
	*/
	background: url('empty50.png') repeat;
}
#form {
	margin-left: 829px;
}
.chit {/*
	background: url('chit.png') repeat;*/
}
.number {
	color: white;
}